* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

h1, h2 {
  text-align: center;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}
